<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI.Properties.Settings.Patpedhi_newdbConnectionString"
            connectionString="Data Source=.;Initial Catalog=Patpedhi_newdb;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>